.main.swiper {
  width: 100%;
  height: 100%;
}

.main.mySwiper {
  width: 100%;
  height: 27rem;
}

.main .swiper-slide {
  width: 100%;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.main .swiper-slide :hover {
  cursor: pointer;
}

.main .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* 물어볼거 4: 왜 title은 검은색이 되는데 얜 하얀색이 되지? */
.main .swiper-slide img:hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 100;
  display: block;
}

.main .swiper-pagination-bullet {
  display: none;
}

.main .swiper-button-prev {
  display: none;
}
.main .swiper-button-next {
  display: none;
}
