.main.swiper {
  width: 100%;
  height: 100%;
  background: red;
}

.main.mySwiper {
  width: 100%;
  /* 물어볼거 1: px to rem썼더니 크기가 매우 작아짐 -> setting 에서 기본값 10px로 */
  height: 27rem;
  /* 안보여서 해놓은거 지우기 */
  padding: 1px 0 1px 0;
}

.main .swiper-slide {
  width: 184px;

  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .swiper-pagination-bullet {
  display: none;
}
